<div class="jumbotron">
  <img src="/img/ember.jpeg" alt="ember logo"><h1>Wahoo Answers</h1>
  <center>{{#link-to 'index'}}Home{{/link-to}}</center>

</div>
<div class="container">
  {{outlet}}
</div>
