<div class="jumbotron">
  <img src="/img/ember.jpeg" alt="ember logo"><h1>Wahoo Answers</h1>
</div>

{{outlet}}

<br>
<hr>

<center>{{#link-to 'index'}}Back to home page{{/link-to}}</center>

<br><br>
